<template>
  <div class="mb-6">
    <div class="w-full relative z-10 bg-white dark:bg-slate-800">
      <div class="flex justify-between items-center">
        <div class="inline-block w-[95%]">
          <div>
            <h2 class="text-2xl font-bold mb-1 mt-2">{{ capitalize(name) }} Authorities</h2>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300">{{ subtitles[name] ? subtitles[name] : '' }}</span>
          </div>
        </div>
        <div class="align-middle block mt-0 mb-0 mr-auto ml-auto" @click="open = !open">
          <ChevronDownIcon class="h-5 w-5 text-gray-400 align-middle" :class="open ? 'rotate-180' : ''" />
        </div>
      </div>
    </div>

    <transition
      enter-active-class="duration-300 ease"
      enter-from-class="transform opacity-0 translate-y-[-30%]"
      enter-to-class="opacity-100"
      leave-active-class="duration-200 ease"
      leave-from-class="opacity-100"
      leave-to-class="transform opacity-0 translate-y-[-30%]"
    >
      <div class="relative z-0 pt-2 pb-4 pl-4 bg-white dark:bg-slate-800" v-show="open">
        <div class="mt-2 mb-4">
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">Weight threshold: {{ authority.weight_threshold }}</h3>
        </div>

        <div class="mt-4">
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">Accounts</h3>
          <div class="ml-2 mt-1" v-if="authority.account_auths.length > 0">
            <div class="inline-block w-14 text-center font-medium text-gray-500 dark:text-gray-300">Weight</div>
            <div class="inline-block ml-5 font-medium text-gray-500 dark:text-gray-300">Account</div>
            <div v-for="pair of authority.account_auths" :key="pair[0]">
              <AuthorityItem :pair="pair" />
            </div>
          </div>
          <div class="ml-4 mt-1" v-else>
            <span class="font-medium text-gray-500 dark:text-gray-300">No account authorities</span>
          </div>
        </div>

        <div class="mt-2">
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">Keys</h3>
          <div class="ml-2 mt-1" v-if="authority.key_auths.length > 0">
            <div class="inline-block w-14 text-center font-medium text-gray-500 dark:text-gray-300">Weight</div>
            <div class="inline-block ml-5 font-medium text-gray-500 dark:text-gray-300">Key</div>
            <div v-for="pair of authority.key_auths" :key="pair[0]">
              <AuthorityItem :pair="pair" />
            </div>
          </div>
          <div class="ml-2 mt-1" v-else>
            <span class="font-medium text-gray-500 dark:text-gray-300">No key authorities</span>
          </div>
        </div>

        <div class="mt-6">
          <a
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
            href="#edit"
            @click="$emit('onEditKeyClick', name)"
          >
            {{ authority.key_auths?.length > 1 ? 'Update multi sign' : 'Activate multi sign' }}
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
  import { capitalize, PropType } from 'vue'
  import { ChevronDownIcon } from '@heroicons/vue/outline'

  const props = defineProps({
    authority: { type: Object, required: true },
    name: { type: String, required: true }
  })

  const emit = defineEmits<{
    (e: 'onEditKeyClick', key: string): string
  }>()

  const subtitles: { [key: string]: string } = {
    owner: 'Required to change the other private keys or recover your account. Can be used to do anything allowed by both active and posting authorities.',
    active: 'Used for sensitive monetary-related actions, like transferring and exchanging tokens. Can be used to do anything allowed by posting authorities.',
    posting:
      "Used for social activities (posting, commenting and voting). It has a limited set of permissions and it is not able to be used for monetary actions, so you can't lose money if you allow someone else to have this authority."
  }

  const open = ref(false)
</script>
