<template>
  <router-link :to="`/tx/${notification.trx_id}`" class="block dark:bg-slate-800">
    <div class="px-4 py-4 flex items-center sm:px-6">
      <div class="mr-3 md:mr-5 flex-shrink-0 self-start mt-1">
        <img :src="icon" class="h-5 w-5" aria-hidden="true" />
      </div>
      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="truncate">
          <div class="flex text-sm">
            <span class="font-medium">{{ title }}</span>
            &nbsp;|&nbsp;
            <router-link :to="`/@${account}`" @click.stop
              ><AccountAvatar :account="account" class="mr-1" imgClass="h-5 w-5"></AccountAvatar>
              {{ account }}
            </router-link>
          </div>
          <pre class="text-xs mt-2">{{ notification.payload }}</pre>
          <div class="flex items-center mt-2 text-xs text-gray-500 dark:text-gray-300">
            <p>
              Tx: <span v-if="notification.trx_id">{{ notification.trx_id.slice(0, 8) }}</span>
              <span class="mx-1 text-gray-300">&bull;</span>
              <time :datetime="notification.created">{{ timeago }}</time> ago
            </p>
          </div>
        </div>
      </div>
      <div class="ml-5 flex-shrink-0">
        <ChevronRightIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></ChevronRightIcon>
      </div>
    </div>
  </router-link>
</template>

<script setup lang="ts">
  import { ChevronRightIcon } from '@heroicons/vue/solid'
  import { formatDistanceToNow } from 'date-fns'
  import { capitalize } from 'vue'
  import HiveIcon from '~/assets/images/icons/hive.svg'
  import SplinterlandsIcon from '~/assets/images/icons/splinterlands.png'
  import { splitAndCapitalize } from '~/common/helpers/formatter'
  import { PREFIX_MAP } from '../helpers/pnFrontendHelper'

  const props = defineProps<{
    notification: any
  }>()

  const notification = props.notification

  const account = notification.trx_id.length > 30 ? notification.sender : notification.account
  const timeago = computed(() => formatDistanceToNow(new Date(notification.created)))
  const title = computed(() => {
    let title = notification.operation_type
    if (notification.operation_type == 'custom_json') {
      const prefix = PREFIX_MAP[notification.module_name]
      const op = prefix ? notification.custom_json_id.replace(prefix, '') : notification.custom_json_id
      //title = `${notification.module_name} - ${splitAndCapitalize(op)}`
      title = `${splitAndCapitalize(op)} (${capitalize(notification.module_name)})`
    } else {
      title = splitAndCapitalize(title)
    }
    return title
  })

  let icon = HiveIcon
  if (notification.module_name === 'splinterlands') {
    icon = SplinterlandsIcon
  }
</script>
