<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
      <span class="mx-1"></span>
      <TabSwitch :tabs="tabs"></TabSwitch>
    </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('title')"
                    class="py-6 pl-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'title' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('communities.title') }}
                      <component
                        v-if="currentSort === 'title'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_subscribers')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_subscribers' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('communities.total_subscribers') }}
                      <component
                        v-if="currentSort === 'total_subscribers'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('monthly_posts')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'monthly_posts' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('community.monthly_posts') }}
                      <component
                        v-if="currentSort === 'monthly_posts'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('monthly_comments')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'monthly_comments' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('community.monthly_comments') }}
                      <component
                        v-if="currentSort === 'monthly_comments'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('monthly_payouts')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'monthly_payouts' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('community.monthly_payouts') }}
                      <component
                        v-if="currentSort === 'monthly_payouts'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                    <span class="text-gray-500 dark:text-gray-400 block text-xs">(Posts + Comments Payouts)</span>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="community in sortedCommunities"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-gray-800"
              >
                <tr>
                  <td scope="row" class="whitespace-nowrap py-2 pl-4 text-base sm:pl-6">
                    <div class="flex items-center justify-start">
                      <img :src="'https://images.hive.blog/u/' + community.code + '/avatar/small'" class="h-8 w-8 flex-shrink-0" />
                      <div class="flex items-center ml-3">
                        <router-link :to="`/c/${community.code}`" class="font-medium text-gray-900 dark:text-gray-100">{{ community.title }}</router-link>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-gray-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ formatNumber(community.total_subscribers, '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-gray-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ formatNumber(community.monthly_posts, '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-gray-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ formatNumber(community.monthly_comments, '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-gray-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ formatCurrency(community.monthly_payouts, '0,0[.]') }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <Pagination class="mt-4" :current="currentPage" :last="lastPage" @page-changed="onPageChange"></Pagination>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { getCommunities, getCommunitiesByDays } from '~/stats/api/hiveOpenStatsApi'
  import { formatNumber, formatCurrency } from '~/common/helpers/formatter'

  const route = useRoute()

  const tabs = computed(() => [
  { name: 'Lifetime Data', to: `/stats/communities`, current: route.path === `/stats/communities`, enabled: true },
{ name: 'Last Day', to: `/stats/communities/lastday`, current: route.path === `/stats/communities/lastday`, enabled: true },
{ name: 'Last 7 Days', to: `/stats/communities/last7days`, current: route.path === `/stats/communities/last7days`, enabled: true },
{ name: 'Last 30 Days', to: `/stats/communities/last30days`, current: route.path === `/stats/communities/last30days`, enabled: true }
  ])

  // sorting
  const currentSort = ref('total_subscribers')
  const currentSortDir = ref('desc')

  function setSortDir(s: string) {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  // pagination
  const pageSize = 200
  const currentPage = ref(1)
  const lastPage = ref(false)

  const onPageChange = async (page: number) => {
    currentPage.value = page

    // if we already loaded enough Communities -> skip
    if (Object.keys(communitiesData.value).length >= page * pageSize) {
      return
    }
    // if no more data -> skip
    if (lastPage.value) {
      return
    }

    const limit = 200
    const days = 30
    const offset = limit * (currentPage.value - 1)
    const fetched = Object.entries(await getCommunitiesByDays(limit, offset, days))
    communitiesData.value = communitiesData.value.concat(fetched)
    console.log('Communities: ', communitiesData.value)
    console.log(Object.keys(communitiesData.value).length)

    if (Object.keys(fetched).length < pageSize) {
      lastPage.value = true
    }
  }

  //preparing array for communities
  const communityDataArray = computed(() => {
    var data = []
    for (const [key, value] of [...communitiesData.value]) {
      value.code = key
      value.monthly_posts = value.average_daily_unique_post_authors * 30
      value.monthly_comments = value.average_daily_unique_comment_authors * 30
      value.monthly_payouts =
        ((value.post_payouts_hbd / value.total_posts) * value.average_daily_unique_post_authors +
          (value.comment_payouts_hbd / value.total_comments) * value.average_daily_unique_comment_authors) *
        30
      data.push(value)
    }
    return data
  })

  const communitiesPage = computed(() => {
    return communityDataArray.value.length > 0 ? communityDataArray.value.slice((currentPage.value - 1) * pageSize, currentPage.value * pageSize) : []
  })

  // fetch first page
  const communitiesData: Ref<Array<any>> = ref([])
  await onPageChange(1)

  // filtering communities
  const filters = ref({
    title: {
      label: 'Community Name',
      placeholder: 'PeakD',
      value: ''
    },
    key: {
      label: 'Community Code',
      placeholder: 'hive-11111',
      value: ''
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredCommunities = computed(() => {
    return communitiesPage.value.filter(community => {
      //filtering by community name
      if (filters.value.title.value.toLowerCase() && !community.title.toLowerCase().includes(filters.value.title.value.toLowerCase())) {
        return false
      }
      //filtering by community code
      if (filters.value.key.value && !community.code.includes(filters.value.key.value)) {
        return false
      }
      return true
    })
  })

  // sorting Communities
  const sortedCommunities = computed(() => {
    return [...filteredCommunities.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'title') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
      if (currentSort.value === 'total_subscribers' || currentSort.value === 'total_posts') {
        if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
        if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
        return 0
      } else if (currentSort.value === 'total_comment') {
        if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
        if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
        return 0
      } else {
        if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
        if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
        return 0
      }
    })
  })
</script>
