<template>
  <div>
    <div class="bg-white dark:bg-slate-800 py-8 px-4 shadow sm:rounded-lg sm:px-10 mb-3">
    <div class="max-w-7xl mx-auto grid grid-cols-3">
      <div class="col-span-2">
        <h1 class="text-xl font-bold grow">CHOOSE YOUR ROUTE</h1>
        <span class="mx-1"></span>
      </div>
      <div>
        <h1 class="text-xl font-bold grow text-center">FILTERS</h1>
        <span class="mx-1"></span>
      </div>
    </div>
      <div class="bg-white dark:bg-slate-800 grid grid-cols-3">
        <div class="flex items-center gap-3 py-2 col-span-2">
          <label for="from" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">From</label>

          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                <span class="uppercase">{{ fromToken }}</span>
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="py-1">
                  <MenuItem v-for="token in supportedTokens" :key="token">
                    <a @click="changeFrom(token)" class="text-gray-700 block px-4 py-2 text-sm uppercase">{{ token }}</a>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>

          <label for="locationfrom" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">Located@</label>

          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                <span class="uppercase">{{  }}</span>
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="py-1">
                  <MenuItem v-for="token in supportedTokens" :key="token">
                    <a @click="changeFrom(token)" class="text-gray-700 block px-4 py-2 text-sm uppercase">{{ token }}</a>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>

          <label for="startingAmount" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">Stating Amount</label>

          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                <span class="uppercase">{{  }}</span>
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="py-1">
                  <MenuItem v-for="token in supportedTokens" :key="token">
                    <a @click="changeFrom(token)" class="text-gray-700 block px-4 py-2 text-sm uppercase">{{ token }}</a>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </div>
        <div class="flex items-center gap-2 py-2 col-span-1">

          <label for="stopFilter" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">Route Stops</label>
          <div v-for="stop in stopFilters" class="flex gap-1">
            <label class="block text-base font-medium text-gray-700 dark:text-gray-200 pl-1"> {{ stop.title }}</label>
            <input type="checkbox" v-model="stop.isChecked" @change="filterChecked" class="routeStops w-7 h-7 text-green-400 bg-gray-100 border-gray-300 rounded focus:ring-green-300 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-slate-800 grid grid-cols-3">
        <div class="flex items-center gap-3 col-span-2">
            <label for="to" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">To</label>

          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                <span class="uppercase">{{ toToken }}</span>
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="py-1">
                  <MenuItem v-for="token in supportedTokens" :key="token">
                    <a @click="changeTo(token)" class="text-gray-700 block px-4 py-2 text-sm uppercase">{{ token }}</a>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>

          <label for="locationfrom" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">Located@</label>

          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                <span class="uppercase">{{  }}</span>
                <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="py-1">
                  <MenuItem v-for="token in supportedTokens" :key="token">
                    <a @click="changeFrom(token)" class="text-gray-700 block px-4 py-2 text-sm uppercase">{{ token }}</a>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </div>
        <div class="flex items-center gap-3 py-2 col-span-1">
            <label for="respectAvoidances" class="block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">Respect Avoidances</label>

            <label for="yes-checkbox" class="block text-xs font-medium text-gray-700 dark:text-gray-200 pl-1">YES</label>
            <input id="yes-checkbox" type="checkbox" value="yes" class="w-10 h-7 text-green-400 bg-gray-100 border-gray-300 rounded focus:ring-green-300 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">

            <label for="yes-checkbox" class="block text-xs font-medium text-gray-700 dark:text-gray-200 pl-1">NO</label>
            <input id="no-checkbox" type="checkbox" value="no" class="w-10 h-7 text-green-400 bg-gray-100 border-gray-300 rounded focus:ring-green-300 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          </div>
      </div>
    </div>

    <Teleport to="#page-header-right-target">
        <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
        <span class="mx-1"></span>
      </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('route')"
                    class="py-6 pl-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'route' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Route / Stop' }}
                      <component
                        v-if="currentSort === 'route'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('exchange')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'exchange' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Router' }}
                      <component
                        v-if="currentSort === 'exchange'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('route_type')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'route_type' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Route Type' }}
                      <component
                        v-if="currentSort === 'route_type'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('currency_in')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'currency_in' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'FROM' }}
                      <component
                        v-if="currentSort === 'currency_in'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                    <span class="text-gray-500 dark:text-gray-400 block text-xs">Token@Location</span>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('currency_out')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'currency_out' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'TO' }}
                      <component
                        v-if="currentSort === 'currency_out'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                    <span class="text-gray-500 dark:text-gray-400 block text-xs">Token@Location</span>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('tokenFees')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'tokenFees' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Fees' }}
                      <component
                        v-if="currentSort === 'tokenFees'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('tokenResult')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'tokenResult' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Token Result' }}
                      <component
                        v-if="currentSort === 'tokenResult'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="route in filteredRoutes"
                :key="route.round"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
              >
                <tr v-for="(step, index) in route.steps" :key="`${route.round}/${index}`">

                  <td v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                   {{ index }}
                  </td>
                  <td v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ step.exchange }}
                  </td>
                  <td v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300 uppercase">
                    {{ step.route_type }}
                  </td>
                  <td
                  v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300 uppercase"
                  >
                    {{ step.currency_in }}
                  </td>
                  <td v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300 uppercase">
                    {{ step.currency_out }}
                  </td>
                  <td v-if="index.toString(2) != 'step_count'" class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{  }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ChevronDownIcon } from '@heroicons/vue/solid'
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { fetchRoutes, fetchTokens } from '~/tokenRoutes/api/tokenRoutesApi'
  import { Ref } from 'vue'

  const router = useRouter()
  const route = useRoute()

  const supportedTokens = await fetchTokens().then(result => result.supported_tokens?.map((t: any) => t.symbol.toLowerCase()))

  const fromToken = computed(() => route.query.from || 'hive')
  const toToken = computed(() => route.query.to || 'btc')

  watch(fromToken, () => {
    refreshRoutes()
  })
  watch(toToken, () => {
    refreshRoutes()
  })

  const changeFrom = (token: string) => {
    router.push({ path: route.path, query: { from: token, to: route.query.to } })
  }
  const changeTo = (token: string) => {
    router.push({ path: route.path, query: { from: route.query.from, to: token } })
  }

  const tokenRoutes: Ref<any[]> = ref([])

  const refreshRoutes = async () => {
    const rawResults = await fetchRoutes(fromToken.value, toToken.value)

    tokenRoutes.value = rawResults.token_routes.map((e: any) => {
      const name = Object.keys(e)[0]
      return { route: name, steps: e[name][0] }
    })
  }

  refreshRoutes()

  // sorting
  const currentSort = ref('route')
  const currentSortDir = ref('asc')

  const setSortDir = (s: string) => {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

// creating filters for route stops
const stopFilters = computed(() => {
      var data = []
      for (let i=1; i<6; i++ ){
        const stop = {
        id: i,
        title: i.toString(),
        isChecked: false
        }
        data.push(stop)
      }
      console.log(data)
      return data
    })

  const filterChecked = ((filter: any)=> {
    return stopFilters.value.filter(stop => {
      if (filter.id === stop.id && !filter.isChecked){
        filter.isChecked = true
      }else
      {
        filter.isChecked = false
      }
      return true
    })
  })

  const filteredByStopRoutes = computed(() => {
    return tokenRoutes.value.filter(route => {
      for (const stop of [...stopFilters.value]){
        if (stop.isChecked && stop.id != route.step_count)
        {
          return false
        }
        return true
      }
    })
    })

    // filtering routes
  const filters = ref({
    router: {
      label: 'Exchange Name',
      placeholder: 'Binance',
      value: ''
    },
    route_type: {
      label: 'Route Type',
      placeholder: 'Trade',
      value: ''
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredRoutes = computed(() => {
    console.log(tokenRoutes.value)
    return tokenRoutes.value.filter(token => {
      console.log(token)
      //filtering by community name
      if (filters.value.router.value.toLowerCase() && !token.steps.exchange.toLowerCase().includes(filters.value.router.value.toLowerCase())) {
        return false
      }
      //filtering by community code
      if (filters.value.route_type.value && !token.steps.this.route_type.includes(filters.value.route_type.value)) {
        return false
      }
      return true
    })
  })


    /*const routesDataArray = computed(() => {
        var data = []
        for (const [key, value] of [...tokenRoutes.value]){
          value.route = key
          data.push(value)
        }
        return data
    })*/

    // sorting Routes
  const sortedRoutes = computed(() => {
    return [...filteredRoutes.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'route') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
    })
  })

  onMounted(() => {
    if (!route.query.from || !route.query.to) {
      router.push({ path: route.path, query: { from: route.query.from || 'hive', to: route.query.to || 'btc' } })
    }
  })
</script>
