<template>
  <Dialog as="div" class="relative z-10" @close="$emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full sm:p-6"
          >
            <div class="min-h-full flex flex-col justify-center">
              <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-12 w-auto" :src="LogoIcon" />
                <h2 class="text-center mt-6 text-3xl font-extrabold text-gray-900 dark:text-gray-100">
                  Edit {{ openOrder.sell_price.base.includes('HBD') ? 'Buy' : 'Sell' }} Order
                </h2>
              </div>

              <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <div v-if="props.openOrder" class="mt-6">
                  <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                      <div class="w-full border-t border-gray-300" />
                    </div>
                    <div class="relative flex justify-center text-sm">
                      <span class="px-2 bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-300"> </span>
                    </div>
                  </div>

                  <div class="grid gap-3">
                    <div class="flex flex-col grow border-b border-gray-100/10 px-4 py-3 text-center sm:border-0">
                      <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                        <label for="hbdcost" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">Price:</label>
                        <div class="mt-1 sm:col-span-3">
                          <input
                            v-model="ratio"
                            @input="ratioEdited"
                            id="hbdcost"
                            name="hbdcost"
                            type="number"
                            required
                            class="dark:text-gray-200 dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                          />
                        </div>
                      </div>
                      <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                        <label for="hbdcost" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">{{ baseCurrency }} To Spend</label>
                        <div class="mt-1 sm:col-span-3">
                          <span
                            id="second"
                            name="second"
                            type="text"
                            autocomplete="false"
                            :disabled="true"
                            class="text-left dark:text-gray-200 block dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                          >
                            {{ basePrice }}
                          </span>
                        </div>
                      </div>
                      <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                        <label for="hbdcost" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">{{ quoteCurrency }} Result</label>
                        <div class="mt-1 sm:col-span-3">
                          <input
                            v-model="quotePrice"
                            @input="quotePriceEdited"
                            id="hbdcost"
                            name="hbdcost"
                            type="number"
                            required
                            class="dark:text-gray-200 dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                          />
                        </div>
                      </div>

                      <div class="mt-8">
                        <div>
                          <button
                            @click="editOrder()"
                            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm font-bold text-lg uppercase text-white dark:text-slate-800 bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
                          >
                            Confirm
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  import LogoIcon from '~/assets/images/hivehub_icon.svg'
  import { useAccountStore } from '~/stores/account'
  const accountStore = useAccountStore()

  const props = defineProps<{
    openOrder
    editOrder
  }>()

  const ratio = ref(0)

  const basePrice = ref(0)
  const baseCurrency = ref('')

  const quotePrice = ref(0)
  const quoteCurrency = ref('')

  const openOrderEdited = ref({})

  const ratioEdited = () => {
    if (basePrice.value && ratio.value) {
      if (baseCurrency.value === 'HBD') {
        openOrderEdited.value.sell_price.quote = (basePrice.value / ratio.value).toFixed(3) + ' ' + quoteCurrency.value
        quotePrice.value = parseFloat((basePrice.value / ratio.value).toFixed(3))
      } else if (baseCurrency.value === 'HIVE') {
        openOrderEdited.value.sell_price.quote = (ratio.value / basePrice.value).toFixed(3) + ' ' + quoteCurrency.value
        quotePrice.value = parseFloat((ratio.value / basePrice.value).toFixed(3))
      }
    }
  }
  const basePriceEdited = () => {
    openOrderEdited.value.sell_price.base = basePrice.value.toFixed(3) + ' ' + baseCurrency.value
  }
  const quotePriceEdited = () => {
    if (basePrice.value && quotePrice.value) {
      openOrderEdited.value.sell_price.quote = quotePrice.value.toFixed(3) + ' ' + quoteCurrency.value
      ratio.value = parseFloat((basePrice.value / quotePrice.value).toFixed(3))
    }
  }
  const editOrder = async () => {
    const opCancel = [
      'limit_order_cancel',
      {
        orderid: openOrderEdited.value.orderid,
        owner: openOrderEdited.value.seller
      }
    ]
    let expiration: any = new Date(Date.now())
    expiration.setDate(expiration.getDate() + 27)
    expiration = expiration.toISOString().split('.')[0]
    const opCreate = [
      'limit_order_create',
      {
        orderid: openOrderEdited.value.orderid,
        owner: openOrderEdited.value.seller,
        amount_to_sell: openOrderEdited.value.sell_price.base,
        min_to_receive: openOrderEdited.value.sell_price.quote,
        fill_or_kill: false,
        expiration: expiration
      }
    ]
    console.log('opCreate')
    console.log(opCreate)

    await window.hive_keychain.requestBroadcast(accountStore.account.name, [opCancel, opCreate], 'Active', async response => {
      console.log(response)
      accountStore.updateOpenOrders()
      await accountStore.updateBalances()
    })
  }

  const emit = defineEmits(['close'])
  onMounted(async () => {
    openOrderEdited.value = JSON.parse(JSON.stringify(props.openOrder))
    basePrice.value = parseFloat(props.openOrder.sell_price.base.split(' ')[0])
    baseCurrency.value = props.openOrder.sell_price.base.split(' ')[1]
    quotePrice.value = parseFloat(props.openOrder.sell_price.quote.split(' ')[0])
    quoteCurrency.value = props.openOrder.sell_price.quote.split(' ')[1]
    ratio.value = parseFloat(props.openOrder.real_price).toFixed(3)
  })
</script>
