<template>
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold mb-6">Add a new token and its location</h1>
  
      <form @submit.prevent="submitForm">
        <!-- Token section -->
        <div class="mb-6">
          <h2 class="text-xl font-semibold mb-4">Token Information</h2>
  
          <div class="mb-4">
            <label for="token-symbol" class="block text-sm font-bold mb-2">Token Symbol:</label>
            <input type="text" id="token-symbol" v-model="token.symbol" class="w-full p-2 border rounded" required>
            <button @click="showTokenSymbolInfo" class="text-blue-600">?</button>
          </div>
  
          <div class="mb-4">
            <label for="token-name" class="block text-sm font-bold mb-2">Token Name:</label>
            <input type="text" id="token-name" v-model="token.name" class="w-full p-2 border rounded" required>
            <button @click="showTokenNameInfo" class="text-blue-600">?</button>
          </div>
  
          <div class="mb-4">
            <label for="coingecko-id" class="block text-sm font-bold mb-2">Coingecko ID:</label>
            <input type="text" id="coingecko-id" v-model="token.coingecko_id" class="w-full p-2 border rounded" required>
            <button @click="showCoingeckoIdInfo" class="text-blue-600">?</button>
          </div>
        </div>
  
        <!-- Location section -->
        <div class="mb-6">
          <h2 class="text-xl font-semibold mb-4">Location Information</h2>
  
          <div class="mb-4">
            <label for="location-type" class="block text-sm font-bold mb-2">Location Type:</label>
            <input type="text" id="location-type" v-model="location.location_type" class="w-full p-2 border rounded" required>
            <button @click="showLocationTypeInfo" class="text-blue-600">?</button>
          </div>
  
          <div class="mb-4">
            <label for="location-name" class="block text-sm font-bold mb-2">Location Name:</label>
            <input type="text" id="location-name" v-model="location.name" class="w-full p-2 border rounded" required>
            <button @click="showLocationNameInfo" class="text-blue-600">?</button>
          </div>
  
          <div class="mb-4">
            <label for="location-description" class="block text-sm font-bold mb-2">Location Description:</label>
            <input type="text" id="location-description" v-model="location.description" class="w-full p-2 border rounded">
            <button @click="showLocationDescriptionInfo" class="text-blue-600">?</button>
          </div>
  
          <div class="mb-4">
            <label for="location-website" class="block text-sm font-bold mb-2">Location Website:</label>
            <input type="url" id="location-website" v-model="location.website" class="w-full p-2 border rounded">
<button @click="showLocationWebsiteInfo" class="text-blue-600">?</button>
</div>
</div>
  <!-- Location Token section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-4">Location Token Information</h2>

    <div class="mb-4">
      <label for="location-id" class="block text-sm font-bold mb-2">Location ID:</label>
      <input type="number" id="location-id" v-model="locationToken.location_id" class="w-full p-2 border rounded" required>
      <button @click="showLocationIdInfo" class="text-blue-600">?</button>
    </div>

    <div class="mb-4">
      <label for="token-id" class="block text-sm font-bold mb-2">Token ID:</label>
      <input type="number" id="token-id" v-model="locationToken.token_id" class="w-full p-2 border rounded" required>
      <button @click="showTokenIdInfo" class="text-blue-600">?</button>
    </div>
  </div>

  <button type="submit" class="bg-blue-600 text-white font-bold py-2 px-4 rounded">Submit</button>
</form>
</div>
</template>

<script setup lang="ts">

export default {
  data() {
    return {
      token: {
        symbol: "",
        name: "",
        coingecko_id: ""
      },
      location: {
        location_type: "",
        name: "",
        description: "",
        website: ""
      },
      locationToken: {
        location_id: "",
        token_id: ""
      }
    };
  },
  methods: {
    submitForm() {
      // Submit the form data to the API
    },
    showTokenSymbolInfo() {
      alert("Token symbol is the abbreviation used to uniquely identify the token.");
    },
    showTokenNameInfo() {
      alert("Token name is the full name of the token.");
    },
    showCoingeckoIdInfo() {
      alert("Coingecko ID is the unique identifier of the token on the Coingecko platform.");
    },
    showLocationTypeInfo() {
      alert("Location type describes the type of location, such as 'Blockchain Network' or 'Crypto Exchange'.");
    },
    showLocationNameInfo() {
      alert("Location name is the name of the specific location, such as 'Ethereum' or 'Coinbase'.");
    },
    showLocationDescriptionInfo() {
      alert("Location description provides additional information about the location.");
    },
    showLocationWebsiteInfo() {
      alert("Location website is the URL for the official website of the location.");
    },
    showLocationIdInfo() {
      alert("Location ID is the unique identifier for the location.");
    },
    showTokenIdInfo() {
      alert("Token ID is the unique identifier for the token.");
    }
  }
};
</script>

<style scoped>
.container {
  max-width: 800px;
}
</style>
