<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="flex justify-end">
    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
      <button
        @click="$emit('page-changed', current - 1)"
        :disabled="isInFirstPage"
        :class="isInFirstPage ? 'cursor-not-allowed text-gray-300' : 'hover:bg-gray-50 dark:hover:bg-slate-700 text-gray-500 dark:text-gray-300'"
        class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm font-medium"
      >
        <span class="sr-only">Previous</span>
        <ChevronLeftIcon class="h-5 w-5" aria-hidden="true" />
      </button>
      <template v-if="props.pages">
        <button
          @click="$emit('page-changed', 1)"
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium"
          :class="
            current === 1
              ? 'z-10 bg-emerald-50 dark:bg-emerald-600 border-emerald-500 text-emerald-600 dark:text-emerald-50'
              : 'bg-white dark:bg-slate-800 border-gray-300 dark:border-slate-500 text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700'
          "
        >
          1
        </button>
        <span
          v-if="nearPages[0] > 2"
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium cursor-not-allowed bg-white dark:bg-slate-800 border-gray-300 dark:border-slate-500 text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700"
        >
          ...
        </span>
        <button
          v-for="p in nearPages"
          :key="p"
          @click="$emit('page-changed', p)"
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium"
          :class="
            current === p
              ? 'z-10 bg-emerald-50 dark:bg-emerald-600 border-emerald-500 text-emerald-600 dark:text-emerald-50'
              : 'bg-white dark:bg-slate-800 border-gray-300 dark:border-slate-500 text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700'
          "
        >
          {{ p }}
        </button>
        <span
          v-if="nearPages[nearPages.length - 1] < props.pages - 1"
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium cursor-not-allowed bg-white dark:bg-slate-800 border-gray-300 dark:border-slate-500 text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700"
        >
          ...
        </span>
        <button
          v-if="props.pages > 1"
          @click="$emit('page-changed', props.pages)"
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium"
          :class="
            current === props.pages
              ? 'z-10 bg-emerald-50 dark:bg-emerald-600 border-emerald-500 text-emerald-600 dark:text-emerald-50'
              : 'bg-white dark:bg-slate-800 border-gray-300 dark:border-slate-500 text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700'
          "
        >
          {{ props.pages }}
        </button>
      </template>
      <button
        @click="$emit('page-changed', current + 1)"
        :disabled="isInLastPage"
        :class="isInLastPage ? 'cursor-not-allowed text-gray-300' : 'hover:bg-gray-50 dark:hover:bg-slate-700 text-gray-500 dark:text-gray-300'"
        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm font-medium"
      >
        <span class="sr-only">Next</span>
        <ChevronRightIcon class="h-5 w-5" aria-hidden="true" />
      </button>
    </nav>
  </div>
</template>

<script setup lang="ts">
  import { ChevronLeftIcon, ChevronRightIcon } from '@heroicons/vue/solid'

  const props = defineProps({
    pages: {
      type: Number,
      default: 0
    },
    // pagination starts with 1 instead of 0
    current: {
      type: Number,
      required: true
    },
    last: {
      type: Boolean,
      required: false
    }
  })

  const isInFirstPage = computed(() => props.current === 1)
  const isInLastPage = computed(() => props.last || (props.pages && props.current === props.pages))

  const nearPages = computed(() =>
    [...Array(5).keys()]
      .reverse()
      .map(i => props.current - i + 2)
      .filter(p => p > 1 && p < props.pages)
  )
</script>
