<template>
  <div>
    <div class="bg-white rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
      <h2 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl sm:px-6 pb-2">{{ post.title }}</h2>
      <div class="flex items-center sm:px-6 pb-4">
        <span class="text-sm mr-4 text-gray-700">View on:</span>
        <a
          :href="`https://peakd.com/@${post.author}/${post.permlink}`"
          class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:ring-emerald-500 mx-3"
          ><img :src="PeakdLogo" class="grayscale opacity-50 h-4 w-4 mr-2" /> PeakD <ExternalLinkIcon class="w-4 h-4 ml-2 text-gray-400"></ExternalLinkIcon
        ></a>
        <a
          :href="`https://ecency.com/@${post.author}/${post.permlink}`"
          class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:ring-emerald-500 mx-3"
          ><img :src="EcencyLogo" class="grayscale opacity-50 h-4 w-4 mr-2" /> Ecency <ExternalLinkIcon class="w-4 h-4 ml-2 text-gray-400"></ExternalLinkIcon
        ></a>
        <a
          :href="`https://hive.blog/@${post.author}/${post.permlink}`"
          class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:ring-emerald-500 mx-3"
          ><img :src="HiveBlogLogo" class="grayscale opacity-50 h-4 w-4 mr-2" /> Hive.blog
          <ExternalLinkIcon class="w-4 h-4 ml-2 text-gray-400"></ExternalLinkIcon
        ></a>
      </div>
      <div class="px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200 sm:dark:divide-slate-700">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Author</dt>
            <router-link :to="`/@${post.author}`" tag="dd" class="mt-1 text-sm text-emerald-600 dark:text-emerald-400 sm:mt-0 sm:col-span-3">
              <AccountAvatar :account="post.author" imgClass="h-8 w-8"></AccountAvatar>
              <span class="ml-2 font-medium">{{ post.author }}</span>
            </router-link>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Permlink</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
              <a :href="`https://peakd.com/@${post.author}/${post.permlink}`" class="text-emerald-600 dark:text-emerald-400 font-medium">{{
                props.permlink
              }}</a>
            </dd>
          </div>
          <div v-for="key in keys" :key="key" class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">{{ key }}</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">{{ post[key] }}</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ExternalLinkIcon } from '@heroicons/vue/outline'
  import PeakdLogo from '~/assets/images/icons/peakd.svg'
  import EcencyLogo from '~/assets/images/icons/ecency.svg'
  import HiveBlogLogo from '~/assets/images/icons/hive-blog.svg'
  import { getPost } from '~/common/api/hiveApi'

  const props = defineProps<{
    author: string
    permlink: string
    parent?: string
  }>()

  console.log('Loading post: ', `@${props.author}/${props.permlink}`)
  const post = await getPost(props.author, props.permlink)
  console.log('Post: ', post)

  const excludedKeys = ['title', 'author', 'permlink']
  const keys = Object.keys(post).filter(k => !excludedKeys.includes(k))
</script>
