<template>
  <div>
    <Teleport to="#page-header-right-target">
      <ButtonsGroup :tabs="[`${$t('hivehubStats.simple')}`, `${$t('hivehubStats.advanced')}`]" @toggleElements="toggleTable"></ButtonsGroup>
      <span class="mx-1"></span>
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
    </Teleport>

    <div class="relative mx-auto mb-4 hidden lg:block">
      <dl class="rounded-lg bg-black/20 ring-1 ring-white ring-opacity-20 sm:grid sm:grid-cols-4">
        <div class="flex flex-col border-b border-gray-100/10 px-4 py-3 text-center sm:border-0 sm:border-r">
          <dt class="pt-1 px-3 text-center text-sm font-semibold text-gray-300">
            {{ $t('proposals.funded-proposals') }}
          </dt>
          <dd class="pb-1 pt-0/5 px-3 text-xl text-center font-semibold text-emerald-400">
            {{ supportedProposals }}
          </dd>
        </div>
        <div class="flex flex-col border-t border-b border-gray-100/10 px-4 py-3 text-center sm:border-0 sm:border-l sm:border-r">
          <dt class="pt-1 px-3 text-center text-sm font-semibold text-gray-300">
            {{ $t('proposals.daily-distribution') }}
          </dt>
          <dd class="pb-1 pt-0/5 px-3 text-xl text-center font-semibold text-emerald-400">{{ formatCurrency(supportedProposalsAmount, '0,0') }} HBD</dd>
        </div>
        <div class="flex flex-col border-t border-b border-gray-100/10 px-4 py-3 text-center sm:border-0 sm:border-l sm:border-r">
          <dt class="pt-1 px-3 text-center text-sm font-semibold text-gray-300">
            {{ $t('proposals.available') }}
          </dt>
          <dd class="pb-1 pt-0/5 px-3 text-xl text-center font-semibold text-emerald-400">{{ formatCurrency(dailyBalanceFormatted, '0,0') }} HBD</dd>
        </div>
        <div class="flex flex-col border-t border-gray-100/10 px-4 py-3 text-center sm:border-0 sm:border-l">
          <dt class="pt-1 px-3 text-center text-sm font-semibold text-gray-300">
            {{ $t('proposals.total') }}
          </dt>
          <dd class="pb-1 pt-0/5 px-3 text-xl text-center font-semibold text-emerald-400">{{ formatCurrency(totalBalanceFormatted, '0,0') }} HBD</dd>
        </div>
      </dl>
    </div>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-800">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('id')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'id' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      #
                      <component v-if="currentSort === 'id'" :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon" class="h-4 w-4 ml-1"></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('creator')"
                    class="py-3.5 pl-3 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'creator' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center">
                      {{ $t('proposals.account') }}
                      <component
                        v-if="currentSort === 'creator'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('subject')"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'subject' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center">
                      {{ $t('proposals.title') }}
                      <component
                        v-if="currentSort === 'subject'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('start_date')"
                    class="py-3.5 pl-3 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'start_date' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('proposals.dates') }}
                      <component
                        v-if="currentSort === 'start_date'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('remaining_days')"
                    class="py-3.5 pl-3 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'remaining_days' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('proposals.remaining') }}
                      <component
                        v-if="currentSort === 'remaining_days'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('daily_pay')"
                    class="py-3.5 pl-3 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'daily_pay' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col text-center">
                        {{ $t('proposals.daily-request') }}
                      </div>
                      <component
                        v-if="currentSort === 'daily_pay'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_hbd_received')"
                    class="py-3.5 pl-3 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_hbd_received' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col text-center">Total Paid</div>
                      <component
                        v-if="currentSort === 'total_hbd_received'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_votes')"
                    class="py-3.5 pl-3 pr-3 text-end text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_votes' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-end">
                      <div class="flex flex-col">
                        {{ $t('proposals.votes') }}<small class="block text-xs font-medium text-gray-900 dark:text-gray-100">(MHP)</small>
                      </div>
                      <component
                        v-if="currentSort === 'total_votes'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th scope="col" class="py-3.5 pl-3 pr-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                    {{ $t('proposals.status') }}
                  </th>
                </tr>
              </thead>
              <tbody v-for="proposal in sortedProposals" :key="proposal.id" class="bg-white dark:bg-slate-700">
                <tr>
                  <td rowspan="2" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ proposal.id }}
                  </td>
                  <td rowspan="2" class="whitespace-nowrap py-4 pl-3 pr-3 text-sm">
                    <div class="flex items-center justify-start">
                      <AccountAvatar :account="proposal.creator" class="h-8 w-8 flex-shrink-0"></AccountAvatar>
                      <div class="text-gray-900 dark:text-gray-100 font-medium text-sm ml-4">
                        <router-link :to="`/@${proposal.creator}`">{{ proposal.creator }}</router-link>
                        <small v-if="proposal.receiver !== proposal.creator" class="block text-gray-500 dark:text-gray-300 text-xs font-medium">{{
                          paidTo(proposal)
                        }}</small>
                      </div>
                    </div>
                  </td>
                  <td rowspan="2" class="py-3.5 pl-3 pr-3 text-left font-medium text-sm text-gray-900 dark:text-gray-100">
                    <a :href="`https://peakd.com/proposals/${proposal.id}`" target="_blank" class="line-clamp-2">{{ proposal.subject }}</a>
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-xs text-gray-500 dark:text-gray-300">
                    {{ $t('proposals.start') }}: {{ formatDate(proposal.start_date) }}<br />
                    {{ $t('proposals.end') }}: {{ formatDate(proposal.end_date) }}
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ proposal.remaining_days }}
                    <small v-if="proposal.remaining_days !== proposal.total_days" class="block text-xs">(of {{ proposal.total_days }})</small>
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ formatCurrency(proposal.daily_pay, '0[.]00a') }} HBD
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span v-if="proposal.stats?.total_hbd_received">{{ formatCurrency(proposal.stats.total_hbd_received, '0[.]00a') }} HBD</span>
                  </td>
                  <td
                    @click="toggleVotesModal(true, proposal.stats)"
                    class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300 cursor-pointer"
                  >
                    <div class="flex justify-end items-center gap-2">
                      <div>
                        {{ vestToHive(proposal).formatted }}
                        <small class="block text-xs">({{ proposal.stats?.all_votes_num ? proposal.stats.all_votes_num : '0' }} votes)</small>
                      </div>
                      <ChartPieIcon v-if="!detailedTable" class="h-5 w-auto text-gray-500 dark:text-slate-300"></ChartPieIcon>
                    </div>
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span
                      v-if="!proposal.is_active"
                      class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-indigo-100 dark:bg-indigo-700 text-indigo-700 dark:text-indigo-100"
                      >{{ $t('proposals.upcoming') }}</span
                    >
                    <span
                      v-else-if="proposal.status === 'partially_funded'"
                      class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-yellow-100 dark:bg-yellow-700 text-yellow-700 dark:text-yellow-100"
                      >{{ $t('proposals.partially-funded') }}</span
                    >
                    <span
                      v-else-if="proposal.status === 'not_funded'"
                      class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100"
                      >{{ $t('proposals.not-funded') }}</span
                    >
                    <span
                      v-else
                      class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-emerald-100 dark:bg-emerald-700 text-emerald-700 dark:text-emerald-100"
                      >{{ $t('proposals.funded') }}</span
                    >
                  </td>
                </tr>
                <tr v-if="detailedTable">
                  <td colspan="6" class="whitespace-nowrap pb-3.5 pl-3 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <div class="px-3 border border-gray-300 dark:border-slate-600 bg-gray-50 dark:bg-slate-800/50 rounded-md">
                      <dl class="flex gap-0.5 overflow-hidden rounded-2xl text-center justify-between items-center">
                        <div
                          @click="toggleVotesModal(true, proposal.stats)"
                          class="flex flex-col items-center justify-center text-gray-500 dark:text-gray-300 bg-white/5 dark:bg-transparent p-1 cursor-pointer"
                        >
                          <dt class="text-xs">{{ $t('hivehubStats.votes-breakdown') }}</dt>
                          <dd class="order-first text-sm tracking-tight">
                            <div><ChartPieIcon class="h-5 w-auto text-gray-500 dark:text-slate-300"></ChartPieIcon></div>
                          </dd>
                        </div>
                        <div class="flex flex-col text-gray-500 dark:text-gray-300 bg-white/5 dark:bg-transparent p-1">
                          <dt class="text-xs">{{ $t('hivehubStats.over-1m') }}</dt>
                          <dd class="order-first text-sm tracking-tight">
                            {{ proposal.stats?.over_1m_votes_num ? proposal.stats.over_1m_votes_num : '0' }} /
                            {{ proposal?.stats?.over_1m_votes_hp ? formatNumber(proposal?.stats?.over_1m_votes_hp, '0[.]00a') : '-' }}
                          </dd>
                        </div>
                        <div class="flex flex-col text-gray-500 dark:text-gray-300 bg-white/5 dark:bg-transparent p-1">
                          <dt class="text-xs">{{ $t('hivehubStats.under-500k') }}</dt>
                          <dd class="order-first text-sm tracking-tight">
                            {{ proposal.stats?.btw_500k_1m_votes_num ? proposal.stats.btw_500k_1m_votes_num : '0' }} /
                            {{ proposal?.stats?.btw_500k_1m_votes_hp ? formatNumber(proposal?.stats?.btw_500k_1m_votes_hp, '0[.]00a') : '-' }}
                          </dd>
                        </div>
                        <div class="flex flex-col text-gray-500 dark:text-gray-300 bg-white/5 dark:bg-transparent p-1">
                          <dt class="text-xs">{{ $t('hivehubStats.under-100k') }}</dt>
                          <dd class="order-first text-sm tracking-tight">
                            {{ proposal.stats?.btw_100k_500k_votes_num ? proposal.stats.btw_100k_500k_votes_num : '0' }} /
                            {{ proposal?.stats?.btw_100k_500k_votes_hp ? formatNumber(proposal?.stats?.btw_100k_500k_votes_hp, '0[.]00a') : '-' }}
                          </dd>
                        </div>

                        <div class="flex flex-col text-gray-500 dark:text-gray-300 bg-white/5 dark:bg-transparent p-1">
                          <dt class="text-xs">{{ $t('hivehubStats.proxied') }}</dt>
                          <dd class="order-first text-sm tracking-tight">
                            {{ proposal.stats?.proxied_votes_num ? proposal.stats.proxied_votes_num : '0' }} /
                            {{ proposal?.stats?.proxied_votes_hp ? formatNumber(proposal?.stats?.proxied_votes_hp, '0[.]00a') : '-' }}
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <ProposalVotesModal :show="showVotesModal" :proposalStats="selectedProposalStats" @close="toggleVotesModal(false)"></ProposalVotesModal>
    <Pagination v-if="showPagination" class="mt-4" :current="currentPage" :last="lastPage" @page-changed="onPageChange"></Pagination>
  </div>
</template>

<script setup lang="ts">
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { ChartPieIcon } from '@heroicons/vue/solid'
  import { compareAsc } from 'date-fns'
  import { getAccounts, getProposals } from '~/common/api/hiveApi'
  import { getProposalsStats } from '~/explorer/api/hivehubStatsApi'
  import { formatCurrency, formatDate, formatNumber, timeAgo } from '~/common/helpers/formatter'
  import { parseAmount } from '~/common/helpers/hiveFunctions'
  import { useChainPropertiesStore } from '~/stores/chainProperties'

  const chainPropertiesStore = useChainPropertiesStore()

  const dynamicGlobalProperties = computed(() => chainPropertiesStore.dynamicGlobalProperties)
  console.log('Dynamic Global Properties: ', dynamicGlobalProperties.value)

  const proposals = await getProposals()
  console.log('Proposals: ', proposals)

  const proposalsStats = await getProposalsStats()
  console.log('Proposals stats from HH: ', proposalsStats.data)

  const totalVestingShares = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_shares))
  const totalVestingFundHive = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_fund_hive))

  const account = await getAccounts(['hive.fund'])
  const totalBalance = +account[0].hbd_balance.split(' ')[0]
  const dailyBalance = totalBalance / 100
  const totalBalanceFormatted = formatCurrency(totalBalance, '0.0')
  const dailyBalanceFormatted = formatCurrency(dailyBalance, '0.0')

  const paidTo = (proposal: any) => {
    if (proposal.receiver === 'null') return 'burned'
    else if (['hive.fund', 'steem.dao'].includes(proposal.receiver)) return 'returned to DHF'
    else return `paid to @${proposal.receiver}`
  }

  const vestToHive = (proposal: any) => {
    const hp = totalVestingFundHive.value * (parseFloat(proposal.total_votes) / totalVestingShares.value)
    return {
      amount: hp,
      formatted: formatCurrency(hp / 1000000, '0.0a')
    }
  }

  // check for funded proposals
  let balance = +dailyBalance
  proposals.forEach((proposal: any) => {
    const proposalDailyPay = +proposal.daily_pay.split(' ')[0]
    if (!balance) {
      proposal.status = 'not_funded'
    } else if (balance < proposalDailyPay) {
      balance = 0
      proposal.status = 'partially_funded'
    } else {
      balance = balance - proposalDailyPay
      proposal.status = 'funded'
    }

    // check for upcoming proposal
    proposal.is_active = compareAsc(new Date(), new Date(proposal.start_date)) === 1
    if (!proposal.is_active) {
      proposal.status = 'upcoming'
    }

    // check for total days
    proposal.total_days = timeAgo(new Date(proposal.start_date), new Date(proposal.end_date))

    // check for remaining days
    proposal.remaining_days = timeAgo(new Date(), new Date(proposal.end_date))
    if (parseFloat(proposal.remaining_days) > parseFloat(proposal.total_days)) proposal.remaining_days = proposal.total_days

    // add stats
    proposal.stats = proposalsStats.data.find((stats: any) => proposal.id === stats.proposal_id)
    if (!proposal.stats || !proposal.stats.total_hbd_received) {
      proposal.stats = { total_hbd_received: '0' }
    }
  })

  const supportedProposals = computed(() => proposals.filter((p: any) => ['funded'].includes(p.status)).length)
  const supportedProposalsAmount = computed(() =>
    proposals.filter((p: any) => ['funded'].includes(p.status)).reduce((acc, cur) => acc + parseFloat(cur.daily_pay.split(' ')[0]), 0)
  )

  // pagination
  const currentPage = ref(1)
  const lastPage = proposals.length < 1000 ? true : undefined
  const showPagination = proposals.length > 1000

  const onPageChange = async (page: number) => {
    console.log('Go to page: ', page)
    currentPage.value = page
  }

  // filtering
  const filters = ref({
    account: {
      label: 'Creator',
      placeholder: '@account',
      value: ''
    },
    status: {
      label: 'Status',
      options: {
        funded: { label: 'Funded', value: false },
        not_funded: { label: 'Not Funded', value: false },
        partially_funded: { label: 'Partially Funded', value: false },
        upcoming: { label: 'Upcoming', value: false }
      }
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredProposals = computed(() => {
    return proposals.filter((proposal: any) => {
      if (filters.value.account.value && !proposal.creator.includes(filters.value.account.value)) {
        return false
      }

      // check which status filters are enabled
      const statusFilters: any = {
        funded: filters.value.status.options.funded.value,
        not_funded: filters.value.status.options.not_funded.value,
        partially_funded: filters.value.status.options.partially_funded.value,
        upcoming: filters.value.status.options.upcoming.value
      }
      // check that record status is valid for the above filters
      if (Object.values(statusFilters).some(v => v)) {
        if (!statusFilters[proposal.status]) {
          return false
        }
      }
      return true
    })
  })

  // sorting
  const currentSort = ref('total_votes')
  const currentSortDir = ref('desc')

  function setSortDir(field: string) {
    if (field === currentSort.value) {
      currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
    } else {
      currentSort.value = field
      currentSortDir.value = 'desc'
    }
  }

  const sortedProposals = computed(() => {
    return [...filteredProposals.value].sort((a, b) => {
      const modifier = currentSortDir.value === 'desc' ? -1 : 1

      if (['creator', 'subject', 'start_date'].includes(currentSort.value)) {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }

      if (currentSort.value === 'total_hbd_received') {
        a = a.stats
        b = b.stats
      }

      if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
      if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
      return 0
    })
  })

  const detailedTable = ref(0)
  const toggleTable = (selected: number) => {
    detailedTable.value = selected
  }
  const showVotesModal = ref(false)
  const selectedProposalStats = ref({})
  const toggleVotesModal = (open = false, stats = {}) => {
    selectedProposalStats.value = stats
    showVotesModal.value = open
  }
</script>
