@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-box[data-theme~='night'] {
  background-color: #f1f5f9;
  color: #1e293b;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.tippy-box[data-theme~='day'] {
  background-color: #1e293b;
  color: #f1f5f9;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.tippy-box[data-theme~='night'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #f1f5f9;
}
.tippy-box[data-theme~='night'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #f1f5f9;
}

.tippy-box[data-theme~='day'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #1e293b;
}
.tippy-box[data-theme~='day'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #1e293b;
}
